{% extends "base.html" %}

{% block content %}
<h1>Изменить информацию о работе</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="name") }}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control", type="name") }}<br>
        {% for error in form.about.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{form.date() }}<br>
        {% for error in form.date.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>
    <p>
        {{ form.time.label }}<br>
        {{form.time(max="24") }}<br>
        {% for error in form.time.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>
        {{ form.time.label }}<br>
        {{ form.time(class="form-control", type="date") }}<br>
        {% for error in form.time.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}