{% extends "base.html" %}

{% block content %}
<h1>Изменить информацию о работе</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="name") }}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control", type="name") }}<br>
        {% for error in form.about.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.date_start.label }}<br>
        {{form.date_start() }}<br>
        {% for error in form.date_start.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>
    <p>
        {{ form.time_start.label }}<br>
        {{form.time_start(max="24") }}<br>
        {% for error in form.time_start.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>
        {{ form.date_end.label }}<br>
        {{form.date_end() }}<br>
        {% for error in form.date_end.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>
    <p>
        {{ form.time_end.label }}<br>
        {{form.time_end(max="24") }}<br>
        {% for error in form.time_end.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}