{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Здравствуйте, {{ current_user.name }}!</h1>
    <p class="lead">Страница по управлению работами</p>
    <hr class="my-3">
    <p>Данная страница находится на стадии разработки</p>
</div>

{% if current_task == None %}
<h2>
    Текущая работа не выбрана
</h2>
<a href="/add_task" class="btn btn-secondary">Добавить работу</a>
{% else %}
<h4>Текущая группа - {{ current_group.name }}</h4>
<a href="/add_task" class="btn btn-secondary">Добавить задание</a>

<table class="table">
    <h1>Здесь будут перечислены задания конкретной работы</h1>
</table>
{% endif %}
{% endblock %}


{% block sidebar %}
<aside>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/manage_tasks"><h5>Управление<br>работами (главная)</h5></a>
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item">
                    <div>
                        <a href="/manage_tasks/{{ loop.index }}">{{ task.name }}</a>
                        <p>{{ task.about }}</p>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </li>

        <li class="list-group-item">
            <a href="/manage_groups"><h5>Управление<br>группами (главная)</h5></a>
            <ul class="list-group">
                {% for group in groups %}
                <li class="list-group-item">
                    <div>
                        <a href="/manage_groups/{{ loop.index }}">{{ group.group_name }}</a>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </li>
    </ul>
</aside>
{% endblock %}