{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Здравствуйте, {{ current_user.name }}!</h1>
    {% if current_test == None %}
    <h2>Текущая работа не выбрана</h2>
    <hr class="my-3">
    <a href="/new_test" class="btn btn-secondary">Создать работу</a>
    {% else %}
    <h4>Текущая работа - {{ current_test.name }}</h4>
    <hr class="my-3">
    <a href="/test/{{ current_test.test_id }}" class="btn btn-secondary">Переименовать работу</a>
    <a href="/delete_test/{{ current_test.test_id }}" class="btn btn-danger">Удалить работу</a>
    <hr class="my-3">
    <a href="/view_tasks" class="btn btn-secondary">Просмотр заданий</a>
    <a href="/view_groups" class="btn btn-secondary">Просмотр групп</a>
    {% endif %}
</div>

{% if current_test != None %}

<table class="table">
    <h1>Здесь будут перечислены задания конкретной работы</h1>
</table>
{% endif %}
{% endblock %}


{% block sidebar %}
<aside>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/manage_tests"><h5>Управление<br>работами (главная)</h5></a>
            <ul class="list-group">
                {% for test in tests %}
                <li class="list-group-item">
                    <div>
                        <a href="/manage_tests/{{ loop.index }}">{{ test.name }}</a>
                        <p>{{ test.about }}</p>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </li>

        <li class="list-group-item">
            <a href="/manage_groups"><h5>Управление<br>группами (главная)</h5></a>
        </li>
    </ul>
</aside>
{% endblock %}